<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GitHub Sanity Suite" parallel="methods" thread-count="4">
 <listeners>
    <listener class-name="com.example.listeners.TestLogger"/>
  </listeners>
  <test name="GitHubTests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
            <class name="com.example.tests.RepoSearchTest"/> 
            <class name="com.example.tests.ProfileSettingsTest"/> 
        </classes>
    </test>
</suite>