<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- mvn clean test -Dgithub.email="abraslik.testing@gmail.com" -Dgithub.password="Abrasliktesting1" -->
<suite name="GitHub Sanity Suite" parallel="methods" thread-count="4">
 <listeners>
    <listener class-name="com.example.listeners.TestLogger"/>
  </listeners>
  <test name="GitHubTests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
        </classes>
    </test>
</suite>